*{
    margin: 0 auto;
    padding: 0;
}
body{
    background-color: #F8F8F8;
}
li{
    list-style: none;
}

a:hover {
    text-decoration: none;
}
/*阅读全文*/
.read{
    float: right;
    background: #34afd8;
    color: #fff;
    border-radius: 10px;
    padding: 0 10px;
    text-align: center;
}

/*导航颜色*/
#nav-color {
    color: #fff;
}


/*导航链接颜色*/
#bs-example-navbar-collapse-8 > ul > li > a:hover{
    color: #000;
    background-color: transparent;
}

